<% include ../shared/header %>
    <h1 class="center">ADD AUTHOR</h1>
    <form method="POST" >
        <div>
            <label for="firstname">Firstname</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label for="lastname">Lastname</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="contactno">Contact no</label>
            <input type="text" name="contact_no">
        </div>
        <button type="submit">Save</button>
    </form>
<% include ../shared/footer %>